  /* TEMPLATE STYLES */

main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

.navbar {
    background-color: #0f6256;
    margin-bottom: 3rem;
}

footer.page-footer {
    background-color: #0f6256;
    margin-top: 2rem;
}
 .navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
/*Template Styles*/

img {
  width: 100%;
}

.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

.row {
  margin-bottom: 50px;
}

#changeWoman {
  color: #0f6256;
  font-family: fantasy;

}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

a {
   outline: 0;
}
