<a class="btn btn-default" href="#!/women" aria-label="Back">
<i class="fa fa-backward" aria-hidden="true"></i>
</a>

<!-- <div class="panel panel-default" ng-init="getFields()">
  <div class="panel-heading">
    <h3 class="panel-title">Add woman</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">

      <form ng-submit="addWoman()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="woman.name" placeholder="name" required>
        </div>

        <div class="form-group">
          <label>Field</label>
          <select class="form-control" ng-model="woman.field">
            <div >
              <option ng-repeat="field in fields" value="{{field.name}}">{{field.name}}</option>
            </div>

          </select>
        </div>
        <div class="form-group">
          <label>Job</label>
          <input type="text" class="form-control" ng-model="woman.job" placeholder="job">
        </div>
        <div class="form-group">
          <label>Birth Date</label>
          <input type="text" class="form-control" ng-model="woman.birthDate" placeholder="birth Date">
        </div>
        <div class="form-group">
          <label>Decease Date</label>
          <input type="text" class="form-control" ng-model="woman.deceaseDate" placeholder="decease Date">
        </div>
        <div class="form-group">
          <label>Bio</label>
          <textarea class="form-control" ng-model="woman.bio" placeholder="bio"></textarea>
        </div>
        <div class="form-group">
          <label>Image</label>
          <input type="text" class="form-control" ng-model="woman.image_url" placeholder="image url">
        </div>
        <input type="submit" value="Submit">
      </form>

    </div>
  </div>
</div>
</div> -->



<!-- Form contact -->
<form ng-init="getFields()" ng-submit="addWoman()">

  <p class="h5 text-center mb-4">Add a new woman</p>

  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input type="text" id="form3" class="form-control" ng-model="woman.name">
    <label for="form3">Her name</label>
  </div>

  <div class="md-form">
    <i class="fa fa-university prefix grey-text"></i>
    <input type="text" id="form2" class="imput-alternate" disabled>
    <select class="form-control no-border" ng-model="woman.field" style="padding-left: 3em">
          <div >
            <option ng-repeat="field in fields" value="{{field.name}}">{{field.name}}</option>
          </div>

        </select>
    <label for="form2">Her field of study</label>




  </div>

  <div class="md-form">
    <i class="fa fa-mortar-board prefix grey-text"></i>
    <textarea type="text" id="form8" class="md-textarea" style="height: 50px" ng-model="woman.job"></textarea>
    <label for="form34">Her career description</label>
  </div>

  <div class="md-form">
    <i class="fa fa-birthday-cake prefix grey-text"></i>
    <input type="text" id="form3" class="form-control" ng-model="woman.birthDate">
    <label for="form3">Her date of birth</label>
  </div>

  <div class="md-form">
    <i class="fa fa-frown-o prefix grey-text"></i>
    <input type="text" id="form3" class="form-control"  ng-model="woman.deceaseDate">
    <label for="form3">Her date of decease</label>
  </div>


  <div class="md-form">
    <i class="fa fa-pencil prefix grey-text"></i>
    <textarea type="text" id="form8" class="md-textarea" style="height: 120px"  ng-model="woman.bio"></textarea>
    <label for="form8">Her brief biography</label>
  </div>

  <div class="md-form">
    <i class="fa fa-camera-retro prefix grey-text"></i>
    <input type="text" id="form3" class="form-control" ng-model="woman.image_url">
    <label for="form3">A great picture of her</label>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-default" >Upload <i class="fa fa-upload ml-1"></i></button>
  </div>

</form>
<!-- Form contact -->
