<div class="container-fluid">
  <div class="row ">
    <div class="col-md-8 col-sm-8 ">

        <p> <img src="img/logo.png" alt="Template Logo"></p>
        <h1>Home Page - Under construction <span class="fa fa-industry"></h1>
        <p class="lead">Actualmente estoy en clase o, con suerte, en las prácticas ;)</p>
        <p>Esperad a mi TFG, que va a ser la caña, para ver todo lo que esta web va a dar de sí </p>

        <p class="credit">&copy; 2017 @MartaL0b0 | Seguidme en las redes sociales, en todas me llamo igual. </p>

    </div>

  </div>
</div>
