<div class="container-fluid">
  <div class="row ">
    <div class="col-md-8 offset-md-2 justify-content-center">

        <p> <img src="img/logo.png" alt="Template Logo"></p>
        <h1>Home Page - Under construction <span class="fa fa-industry"></span></h1>
        <hr>
        <p class="lead">Currently I'm in class or, if I had been lucky, on my internship at <span> <img src="img/intelygenz-logo.png" alt="Intelygenz" style="width: auto; height: 30px"></span> </p>
        <p> This is a brief demo of what I would love to turn into a reference site for female schoolers and teenagers, to show them how powerful can women be in changing the world.  </p>

        <p class="credit"> <font size="2">&copy; 2017 @MartaL0b0 | Follow me on my social media, my user is always the same ;)</font> </p>

    </div>

  </div>
</div>
