<!-- <a href="#!/women">Atrás</a>

<div class="panel panel-default" ng-init="getWoman()">
  <div class="panel-heading">
    <h3 class="panel-title">{{woman.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    <div class="col-md-4">
      <img src="{{woman.image_url}}">
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">Job: {{woman.job}}</li>
        <li class="list-group-item">Birth Date: {{woman.birthDate}}</li>
        <li class="list-group-item">Decease Date: {{woman.deceaseDate}}</li>
      </ul>
      <p>{{woman.bio}}</p>

    </div>
  </div>
</div>
</div>

<div class="pull-right">
  <a class="btn btn-success" href="#!/women/edit/{{woman._id}}" aria-label="Settings">
  <i class="fa fa-cog" aria-hidden="true"></i>
  </a>

  <a class="btn btn-danger" href="#" aria-label="Delete" ng-click="removeWoman(woman._id)">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
  </a>


</div> -->


<!--Main column-->
<div class="panel panel-success" ng-init="getWoman()">
  <div class="col-lg-12">
    <div class="container-left">
      <a class="btn btn-default" href="#!/women" aria-label="Back">
      <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
    </div>

      <!--First row-->
      <div class="row wow fadeIn" data-wow-delay="0.4s">

              <!--Product-->
              <div class="col-md-4">
                <div class="panel-image">
                    <!--Featured image-->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="{{woman.image_url}}" class="img-fluid" alt="">
                    </div>
                    <!--/.Featured image-->
                </div>
              </div>

              <div class="col-md-8">


                <!--Product data-->
                <h2 class="h2-responsive mt-4">{{woman.name}}</h2> <h6 style="padding-left: 1em"> <font size="2">{{woman.birthDate}} --- {{woman.deceaseDate}}</font></h6>
                <br>
                <h4>{{woman.job}}</h4>
                <hr>
                <p>{{woman.bio}}</p>


                <div class="pull-right">
                  <a class="btn btn-success" href="#!/women/edit/{{woman._id}}" aria-label="Settings">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                  </a>

                  <a class="btn btn-danger" href="#" aria-label="Delete" ng-click="removeWoman(woman._id)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>


                </div>
            <!--Product-->
              </div>

      </div>
      <!--/.First row-->

      <!--Second row-->
    <div class="row wow fadeIn" data-wow-delay="0.4s">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <blockquote class="blockquote">
                <p>{{woman.quote}}</p>
                <footer class="blockquote-footer">
                    <cite >{{woman.name}}</cite>
                </footer>
        </blockquote>
      </div>
      <div class="col-md-4">

      </div>

    </div>

  </div>
</div>
