<!-- <div class="panel panel-default" ng-init="getWomen()">
  <div class="panel-heading">
    <h3 class="panel-title">Greatest Women</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="woman in women">
        <div class= "col-md-6">
            <div class="col-md-6">
              <h4>{{woman.name}}</h4>
              <p>{{woman.field}}</p>
                <p>{{woman.job}}</p>
              <a class="btn btn-primary" href="#!/women/details/{{woman._id}}">Learn more</a>
            </div>
            <div class="col-md-6">
              <img class="thumbnail" src="{{woman.image_url}}" alt="{{woman.name}}">
            </div>
        </div>
      </div>
  </div>
</div>
</div> -->

<!-- ng-repeat es un bucle foreach que me pinta cada woman que se encuentra -->



<div class="container" ng-init="getWomen()">
    <!--Page heading-->
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive"> STEM Women
              <br>
                <small class="text-muted" style="padding-left: 1em">Great women of history</small>
            </h1>
            <hr>
        </div>
    </div>
    <!--/.Page heading-->

    <div class="row my-flex-card">
        <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="woman in women">
            <!--Card-->
              <div class="card">
                  <!--Card image-->
                  <img class="img-fluid" ng-src="{{woman.image_url}}" alt="{{woman.name}}">
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">{{woman.name}}</h4>
                      <!--Text-->
                      <p class="card-text"> <h5>{{woman.field}}</h5> {{woman.job}}</p>
                  </div>
                    <a class="btn btn-success" id="class-btn" href="#!/women/details/{{woman._id}}">Learn more</a>
              </div>

              <!--/.Card-->
        </div>
      </div>

  </div>

<hr>
  <footer class="page-footer">

    <!--Call to action-->
    <div class="call-to-action">
        <h4 class="mb-5">Mamá Quiero Ser Científica</h4>
        <ul>
            <li>
                <h5>Follow us on our Social Media</h5>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/mqscientifica" class="btn btn-info btn-social btn-twitter waves-effect waves-light " rel="nofollow">Twitter <span class="fa fa-twitter"></span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/Mam%C3%A1-Quiero-Ser-Cient%C3%ADfica-748273108707351/" class="btn btn-primary btn-social btn-facebook waves-effect waves-light" rel="nofollow">Facebook <span class="fa fa-facebook"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/mqscientifica/" class="btn btn-deep-orange btn-social btn-instagram waves-effect waves-light" rel="nofollow">Instagram <span class="fa fa-instagram"></a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
            © 2017 Copyright: <a href="https://github.com/MartaL0b0/"> @MartaL0b0 </a>
        </div>
    </div>
    <!--/.Copyright-->
  </footer>
