<!-- <div class="panel panel-default" ng-init="getWomen()">
  <div class="panel-heading">
    <h3 class="panel-title">Greatest Women</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="woman in women">
        <div class= "col-md-6">
            <div class="col-md-6">
              <h4>{{woman.name}}</h4>
              <p>{{woman.field}}</p>
                <p>{{woman.job}}</p>
              <a class="btn btn-primary" href="#!/women/details/{{woman._id}}">Learn more</a>
            </div>
            <div class="col-md-6">
              <img class="thumbnail" src="{{woman.image_url}}" alt="{{woman.name}}">
            </div>
        </div>
      </div>
  </div>
</div>
</div> -->

<!-- ng-repeat es un bucle foreach que me pinta cada woman que se encuentra -->

<div class="container" ng-init="getWomen()">
    <!--Page heading-->
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive"> STEM Women
              <br>
                <small class="text-muted" style="padding-left: 1em">Great women of history</small>
            </h1>
        </div>
    </div>
    <!--/.Page heading-->
    <hr>

    <div class="row mt-5 wow">
      <div ng-repeat="woman in women">
        <div class= "col-lg-4 wow fadeIn" data-wow-delay="0.2s">
            <!--Card-->
              <div class="card">

                  <!--Card image-->
                  <img class="img-fluid" src="{{woman.image_url}}" alt="{{woman.name}}">

                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">{{woman.name}}</h4>
                      <!--Text-->
                      <p class="card-text">{{woman.field}} <br> {{woman.job}}</p>
                      <a href="#!/women/details/{{woman._id}}" class="btn btn-primary">Learn more</a>
                  </div>

              </div>
              <!--/.Card-->

        </div>
      </div>
    </div>
